html, body {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    width:60vw;
}

body {
    margin: 0;
    font-family: sans-serif;
    font: Arial;
    color: white;
    width:60vw;
    line-height:x-small;
}

.path {
    font-size: small;
}

div[id^='quote'] {
    display: none;
}

div[id^='quote']:target {
    display: block;
}

div[id^='reply'] {
    display: none;
}

div[id^='reply']:target {
    display: block;
}

.wrapper {
    position:relative;
    background-color: orange;
    border:0px;
    border-radius: 7px;
    box-shadow: 3px 3px orangered;
    padding-top: 20px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    width:fit-content;
    hyphens:auto;
    overflow-wrap: break-word;
    min-width:300px;
    max-width:90vw;
    margin:7px;
    
}

.post {
    word-break: break-all;
    background: rgb(46, 46, 46);
    border: 1px solid orange;
    border-radius: 7px;
    box-shadow: 3px 3px orangered;
    padding: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 40px;
    width: inherit;
    min-width:inherit;
    max-width:inherit;
    hyphens:auto;
    overflow-wrap: break-word;
    text-align: left;
    margin: 0px;
    font-size: smaller;
}

.quote_reply {
    font-size: xx-small;
}

#quote {
    background-color: rgb(182, 231, 66);
    color: darkred;
    border-color: rgb(182, 231, 66);
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
}

#reply {
    background-color: #7DF9FF;
    color: darkred;
    border-color: #7DF9FF;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
}

.post_info {
    color:black;
    font-size: small;
    padding: 3px;
    position: absolute;
    top: 0;
    max-width:90vw;
}


.title {
    font-weight: 1000;
    color: orange;
    text-transform: uppercase;
}

a:link {
    color:orange;
}

a:visited {
    color:orange;
}

textarea {
    font-family: sans-serif;
    width: 400px;
    height: 200px;
    background-color: rgb(66, 66, 66);
    color:white;
    margin:5px;
    border: 1px solid black;
    border-radius: 7px;
}