{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class='path'><a href = "/">Home</a> {% if keyword != 'Global' %} > <a href = "/{{ keyword }}">{{ keyword }}</a> {% endif %}</div>
    <br><br>

    <div>
        <div class="sticky-wrapper">
        <div class="post_info"><b style="font-weight:1000;">STICKIED</b></div>
        <table>
        {% if stickies|length < 1 %}
        <tr class="stickies"><td>Not Implemented Yet</td></tr>
        {% else %}
                {% for sticky in stickies %}
                    <tr class="stickies">
                        <td onclick="location.href='/t/{{thread['_id']}}'"><a style="display:inline-block; margin-bottom:2px;" href="/t/{{thread['_id']}}"><b>{{ thread['title'] }}</b></a><p style="font-size:small; margin-top:0px; margin-bottom:0px;">Posted on {{ thread['formattedDate'] }} · {% if thread['posts'] == 1 %} {{ thread['posts'] }} post {% else %} {{ thread['posts'] }} posts {% endif %}</p><p style="font-size:small; margin-top:0px; margin-bottom:2px;">Last updated: {{ thread['formattedLastUpdated'] }}</p></td>
                    </tr>
                {% endfor %}
        {% endif %}
    </table>
    </div>
    </div>

    <div>
        <div class="daily-wrapper">
            <div class="post_info"><b style="font-weight:1000;">DAILIES</b></div>
            <table>
                {% if dailies|length < 1 %}
                <tr class="dailies"><td>Not Implemented Yet</td></tr>
                {% else %}
                    {% for daily in dailies %}
                        <tr class="dailies">
                            <td onclick="location.href='/t/{{thread['_id']}}'"><a style="display:inline-block; margin-bottom:2px;" href="/t/{{thread['_id']}}"><b>{{ daily['title'] }}</b></a><p style="font-size:small; margin-top:0px; margin-bottom:0px;">Posted on {{ daily['formattedDate'] }} · {% if daily['posts'] == 1 %} {{ daily['posts'] }} post {% else %} {{ daily['posts'] }} posts {% endif %}</p><p style="font-size:small; margin-top:0px; margin-bottom:2px;">Last updated: {{ daily['formattedLastUpdated'] }}</p></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <br>

    <a href="/new/" style="font-size: small;">New Thread</a>
    <div>
        <div class="wrapper">
            <div class="post_info"><b style="font-weight:1000;">THREADS</b></div>
            <table>
                {% if threads|length < 1 %}
                <tr class="threads"><td>There are no threads</td></tr>
                {% else %}
                    {% for thread in threads %}
                        <tr class="threads">
                            <td onclick="location.href='/t/{{thread['_id']}}'"><a style="display:inline-block; margin-bottom:2px;" href="/t/{{thread['_id']}}"><b>{{ thread['title'] }}</b></a><p style="font-size:small; margin-top:0px; margin-bottom:0px;">Posted on {{ thread['formattedDate'] }} · {% if thread['posts'] == 1 %} {{ thread['posts'] }} post {% else %} {{ thread['posts'] }} posts {% endif %}</p><p style="font-size:small; margin-top:0px; margin-bottom:2px;">Last updated: {{ thread['formattedLastUpdated'] }}</p></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <a href="/new/" style="font-size: small;">New Thread</a>
        <br>
    
{% endblock %}
