{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class='path'><a href = "/">Home</a> {% if keyword != 'Global' %} > <a href = "/{{ keyword }}">{{ keyword }}</a> {% endif %}</div>
    <br><br>

    <div>
        <div class="wrapper">
        <div class="post_info"><b style="font-weight:1000;">NEW THREAD</b></div>
            <form actions="/" enctype="multipart/form-data" method="POST">
                <input type = "text" name = "title" id = "title"><br>
                <textarea name = "post" id = "post"></textarea><br>
                <input type="file" id="media" name="media" /><br>
                <input type = "submit" value="Add">
            </form> 
        </div>
    </div>
    
{% endblock %}
