{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div>

        <h3>POSTS</h3>
        <div class='path'><a href = "/">Home</a> > /t/{{ thread['_id'] }}</div>
        <br>
            {% for post in thread['thread'] %}

                <div class="wrapper">
                    <div class="post_info">
                    UserID: <b class='userid' style="background-color:{{ post['idColor'] }}">{{ post['user'] }}</b> <b>·</b> Posted: <b>{{ post['formattedPosted'] }}</b>
                    </div>
                    <div class="post">
                        {% if post['postNum'] == 1 %}
                        <div class="title">{{ thread['title'] }}</div>
                        {% else %}
                        {% endif %}
                        {{ post['message'] }}
                    </div>
                </div>

            {% endfor %}

        <br>
        <form actions="/reply/{{ thread['_id'] }}" method="POST">
            <label>Message: </label><input type = "text" name = "message" id = "message"><br>
            <input type = "submit" value="Add">
        </form> 
    </div>
    
{% endblock %}
