{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div>
        <div class='path'><a href = "/">Home</a> {% if thread['board'] != 'Global' %} > <a href = "/{{ thread['board'] }}">{{ thread['board'] }}</a> {% endif %} > /t/{{ thread['_id'] }}</div>
        <br>
        {% if error != 'none' %}
        <div class = "error">{{ error }}</div><br>
        {% else %}
        {% endif %}
        <a id="topreply" href="#replyt">[Reply]</a>
        <div class="replybox" id = "replyt">
            <form actions="/reply/{{ thread['_id'] }}" enctype="multipart/form-data" method="POST">
                <textarea type = "text" name = "message" id = "message" minlength=1 maxlength=1000></textarea><br>
                <input type="file" id="media" name="media" /><br>
                <input type = "submit" formaction="/t/{{ thread['_id'] }}" value="[Post]"> <a id="Cancel" href="/t/{{ thread['_id'] }}">[Cancel]</a>
            </form> 
        </div>
            {% for post in thread['thread'] %}

                <div class="zoom">
                    <a href="#post{{ post['postNum'] }}"><img id = "zoom{{ post['postNum'] }}" src="{{ post['media'] }}">
                </div>

                <div class="wrapper" id = "post{{ post['postNum'] }}">
                    <div class="post_info">
                    UserID: <b style="background-color:{{ post['idColor'] }}; color:darkred; border-radius: 2px;" onmouseenter="this.style.backgroundColor='black'; this.style.color='white'" onmouseleave="this.style.backgroundColor='{{ post['idColor'] }}'; this.style.color='darkred'">{{ post['user'] }}</b> <b>·</b> Posted: <b style='color:darkred;'>{{ post['formattedPosted'] }}</b>
                    </div>
                    <div class="post" id = "post-message{{ post['postNum'] }}">
                        <a href="#zoom{{ post['postNum'] }}"><img src="{{ post['mediaThumb'] }}"></a>
                        <div id="post-message" style="padding: 5px; margin-right:10px;">
                        {% if post['postNum'] == 1 %}
                        <div class="title">{{ thread['title'] }}</div>
                        {% else %}
                        {% endif %}
                        {% for p in post['message'].split('\n') %}
                        <p style="margin: 0px;">
                            {% if p[0] == '>' %}
                                <p style = "margin:0; color:lawngreen">{{ p }}
                            {% else %}
                                {% for word in p.split() %}
                                    {% if link.match(word) %}
                                        <a id = "postlink{{ word.replace('[','').replace(']','') }}" href="#post{{ word.replace('[','').replace(']','') }}">{{ word }}</a>
                                    {% elif word == '@OP' or (word[0] == '@' and word|length == 11) %}
                                        {% for user in thread['threadUsers'] %}
                                            {% if word[1:] == user['userID'] %}
                                                <b style="background-color:{{ user['idColor'] }}; color:darkred; border-radius: 2px;" onmouseenter="this.style.backgroundColor='black'; this.style.color='white'" onmouseleave="this.style.backgroundColor='{{ user['idColor'] }}'; this.style.color='darkred'">{{ word }}</b>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{ word }}
                                    {% endif %}
                                {% endfor %}    
                            {% endif %}
                        </p>
                        {% endfor %}
                        <br>
                        <div class="quote_reply"> {{ post['postNum'] }} · <a id="reply" href="#reply{{ post['postNum'] }}">[Reply]</a> · <a id="quote" href="#quote{{ post['postNum'] }}">[Quote]</a> &nbsp 
                            {% for rp in post['replies'] %} <a id = "postlink{{ rp['reply'] }}" href="#post{{ rp['reply'] }}">[{{ rp['reply'] }}]</a> {% endfor %}</div>
                        </div>
                    <div class="quotebox" id="quote{{ post['postNum'] }}">
                            <form actions="/reply/{{ thread['_id'] }}" enctype="multipart/form-data" method="POST">
                                <textarea type = "text" name = "message" id = "message" minlength=1 maxlength=1000>[{{ post['postNum'] }}]{% for p in post['message'].split('\n') %}
>{{ p }}{% endfor %}
</textarea><br>
                                <input type="file" id="media" name="media" /><br>
                                <input type = "submit" formaction="/t/{{ thread['_id'] }}" value = "[Post]"> <a id="Cancel" href="/t/{{ thread['_id'] }}">[Cancel]</a>
                            </form>
                    </div>
                    <div class="replybox" id="reply{{ post['postNum'] }}">
                        <form actions="/reply/{{ thread['_id'] }}" enctype="multipart/form-data" method="POST">
                            <textarea type = "text" name = "message" id = "message" minlength=1 maxlength=1000>[{{ post['postNum'] }}]
</textarea><br>
                            <input type="file" id="media" name="media" /><br>
                            <input type = "submit" formaction="/t/{{ thread['_id'] }}" value = "[Post]"> <a id="Cancel" href="/t/{{ thread['_id'] }}">[Cancel]</a>
                        </form>
                    </div>
                    </div>
                </div>
            {% endfor %}
        <a id="bottomreply" href="#replyb">[Reply]</a>
        <div class="replybox" id = "replyb">
            <form actions="/reply/{{ thread['_id'] }}" enctype="multipart/form-data" method="POST">
                <textarea type = "text" name = "message" id = "message" minlength=1 maxlength=1000></textarea><br>
                <input type="file" id="media" name="media" /><br>
                <input type = "submit" formaction="/t/{{ thread['_id'] }}" value="[Post]"> <a id="Cancel" href="/t/{{ thread['_id'] }}">[Cancel]</a>
            </form> 
        </div>
        <br>

    </div>
    
{% endblock %}
