{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div>

        <h1>Update Movie</h1>

        <form actions="/update/{{movies['_id']}}" method="POST">
            <label>Title:</label><input type = "text" name = "title" id = "title" value = "{{movies['title']}}"><br>
            <label>Year:</label><input type = "text" name = "year" id = "year" value = "{{movies['year']}}"><br>
            <label>Type:</label><input type = "text" name = "type" id = "type" value = "{{movies['type']}}"><br> 
            <input type = "submit" value="Add">
        </form>
    </div>
    
{% endblock %}
